.Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 150px;
}
.HeroSection{
    display: flex;
    justify-content: center;
    align-items: top;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.HeroImage{
    width: 100%;
}
.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    color: #000000;
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='email'],
  input[type='password'],
  input[type='text'] {
    width: 100%;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #8d095c;
  }
  
  button {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3DA9FC;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    
  }
  
  p {
    margin-top: 15px;
  }
  
  button.toggle-button {
    background-color: transparent;
    border: none;
    color: #ff0095;
    cursor: pointer;
  }
  
  button.toggle-button:hover {
    text-decoration: underline;
  }